* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  color: #24292e;
}

svg {
  margin-right: 8px;
  fill: #959da5;
}

a {
  text-decoration: none;
  color: initial;
}

.material-icons {
  font-size: 18px !important;
}

.container {
  margin: auto;
}

#container {
  padding: 0 16px;
}

nav {
  background-color: #24292e;
  color: #ffffffb3;
  padding: 1rem;
  .fa-github {
    font-size: 2rem;
    color: white;
    margin: auto 0;
  }
  .input-div {
    padding: 5px 12px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #444d56;
    color: #ffffffb3;
    border-radius: 6px;
    input {
      border: 0;
      outline: none;
      background-color: initial;
    }
    span {
      color: #ffffffb3;
      border: 1px solid #444d56;
      padding: 2px .5rem;
      border-radius: 4px;
    }
  }
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    margin: 0;
  }
  ul,
  .nav-list {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    li {
      color: white;
      font-weight: 600;
      cursor: pointer;
      list-style: none;
      &:hover {
        color: #ffffffb3;
      }
    }
  }
  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .nav-list-2 {
    font-size: 1rem;
    div {
      display: flex;
      align-items: center;
      svg,
      i {
        margin-left: 4px;
      }
    }
  }
}

.tab {
  border-bottom: 1px solid #e1e4e8;
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    // justify-content: ;
    li {
      list-style: none;
      padding: .75rem 1rem;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        border-color: #d1d5da;
      }
      i {
        // font-size: 24px !important;
        padding-right: 8px;
      }
    }
    .active,
    .active:hover {
      border-bottom: 2px solid #f9826c;
      svg {
        fill: black;
      }
    }
  }
}

main {
  display: flex;
  justify-content: start;
  max-width: 1200px;
  padding: 0 32px;
  margin: 2rem auto;
  .first-section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 26px;
      line-height: 1.25;
      margin: 1rem 0 0 0;
      font-weight: 600;
    }
    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      margin: 0;
    }
    .email {
      display: flex;
      align-items: center;
      i {
        padding-right: 8px;
        font-size: 18px;
      }
    }
    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      li {
        list-style: none;
        margin-right: .75rem;
        display: flex;
        align-items: center;
      }
    }
    a {
      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
    button {
      cursor: pointer;
      padding: .5rem;
      margin: 1rem 0;
      border-radius: 6px;
      border: 1px solid #1b1f2326;
      outline: 0;
    }
    div {
      margin: 1rem 0;
      padding: 1rem 0;
      border-top: 1px solid #e1e4e8;
      border-bottom: 1px solid #e1e4e8;
      h4 {
        margin: 0 0 1rem 0;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .profile-avatar {
      width: 260px;
      height: 260px;
      border-radius: 50%;
    }
  }
  .other-section {
    width: 100%;
    padding: 0 1rem;
    .search-section {
      display: flex;
      align-items: center;
      padding: 1.25rem 0;
      border-bottom: 1px solid #e1e4e8;
      input {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        background-repeat: no-repeat;
        background-position: right 8px center;
        border: 1px solid #e1e4e8;
        border-radius: 6px;
        outline: none;
        // margin-right: 1rem;
        width: 100%;
      }
      section,
      section div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      select {
        border-radius: 6px;
        margin-left: 1rem;
        padding: 7px 12px;
        border: 1px solid #e1e4e8;
      }
      button {
        border-radius: 6px;
        background-color: #2ea44f;
        color: white;
        margin-left: 1rem;
        padding: 7px 20px;
        border: 0;
        outline: none;
        display: flex;
        align-items: center;
        svg {
          fill: white;
        }
      }
    }
  }
  .repo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e1e4e8;
    svg {
      fill: #586069 !important;
      margin: 0;
      margin-right: 3px;
    }
    .flex {
      display: flex;
      align-items: center;
      margin-right: .75rem;
      span {
        font-size: 12px!important;
      }
    }
    .p-tag {
      margin: .35rem 0;
      color: #586069;
      font-size: 12px;
    }
    .desc {
      font-size: 14px;
    }
    a {
      color: #0366d6;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      &:hover {
        text-decoration: underline;
      }
    }
    .repo-config {
      display: flex;
      align-items: center;
      font-size: 12px!important;
      .color-type {
        height: 13px;
        width: 13px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }
      .code-type {
        margin-right: 1rem;
      }
    }
    button {
      padding: 6px 12px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 6px;
      background-color: #f3f4f6;
      border: 1px solid #1b1f2326;
    }
  }
}

.none {
  display: none;
}

.fa-bars {
  display: none !important;
}

@media (max-width: 900px) {
  main {
    padding: 0 16px;
    .other-section {
      padding: 0;
      ul {
        overflow-x: scroll;
      }
    }
    .first-section {
      padding: 0;
      margin-bottom: 1.75rem;
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: start;
      img {
        width: 16.666667% !important;
        height: auto !important;
        margin-right: 1.5rem;
      }
      section {
        width: 83.33333%;
        h1 {
          margin: 0;
        }
      }
    }
    .search-section {
      flex-direction: column;
      section {
        width: 100%;
        margin: 1rem;
        select {
          margin-right: 1rem;
          margin-left: 0 !important;
        }
      }
    }
  }
  #container {
    padding: 0;
  }
}

@media (max-width: 800px) {
  nav {
    ul {
      display: none;
    }
  }
  .none-mobile {
    display: none !important;
  }
  .fa-bars {
    display: block !important;
  }
  main {
    flex-direction: column;
  }
}

@media (max-width: 650px) {}